.form_unit {
    margin-top: 20px;
    display: flex;
    align-items: center;
}
@media screen and (max-width: 800px) {
    .form_unit {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 0px;
    }
}

.form_name {
    font-size: 14px;
    line-height: 16px;
    min-width: 260px;
}
@media screen and (max-width: 800px) {
    .form_name {
        margin-top: 26px;
        margin-bottom: 12px;
    }
}

.form_unit input {
    width: 155px;
    font-size: 14px;
    line-height: 16px;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 14px 0px 14px 12px;
    margin-right: 0;
}
@media screen and (max-width: 800px) {
    .form_unit input {
        width: 335px;
    }
}

.input-long{
    min-width: 416px;
}
@media screen and (max-width: 800px) {
    .input-long {
        min-width: 335px;
    }
}

.form_unit input::placeholder {
    color: #BDBDBD;
}


.form_unit input:hover {
    border: 1px solid #61A199;
    cursor: pointer;
}

.form_unit input:focus {
    border: 2px solid #61A199;
    outline: none;
    caret-color: #000000;
}

.form_unit input.error-border {
    border: 2px solid #EB5757;
}

.form-icon {
    position: relative;
}

.div-icon {
    position: absolute;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 387px;
}
@media screen and (max-width: 800px) {
    .div-icon {
        margin-top: 68px;
        margin-left: 303px;
    }
}

.password {
    margin-left: 645px;
}
@media screen and (max-width: 800px) {
    .password{
        margin-left: 300px;
    }
}

.nodiv-icon {
    display: none;
}

@media screen and (max-width: 800px) {
    .margin_collapsing {
        margin-top: 0px;
    }
}

.input-error-message {
    color: #EB5757;
    font-size: 14px;
    line-height: 16px;
    margin-top: 8px;
    margin-left: 260px;
}

@media screen and (max-width: 800px) {
    .input-error-message {
        margin-left: 0px;
    }
}