.main__aboutUs {
    margin: 80px auto;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .main__aboutUs {
        margin: 60px auto 40px; }
}

.main__aboutUs img{
    margin-bottom: 60px;
}

@media screen and (max-width: 800px) {
    .main__aboutUs img{
        margin-bottom: 40px; }
}

.main__aboutUs__text {
    font-size: 24px;
    line-height: 147.3%;
    width: 90%;
    display: inline-block;
}

@media screen and (max-width: 800px) {
    .main__aboutUs__text {
        font-size: 16px; }
}

.main__contacts {
    text-align: center;
    background: #F7F9FB;
}

.main__contacts-wrapper {
    padding: 43px 50px 105px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 800px) {
    .main__contacts-wrapper {
        flex-direction: column;
        padding: 20px 0px 40px; }
}

.main__contacts-wrapper-left__text {
    color: #4F4F4F;
    font-size: 14px;
    line-height: 147.3%;
    margin-bottom: 6px;
}

@media screen and (max-width: 800px) {
    .main__contacts-wrapper-left__text {
        font-size: 12px;
        margin-bottom: 5px; }
}

.main__contacts-wrapper-left__direct {
    color: #000000;
    font-size: 20px;
    line-height: 147.3%;
}

@media screen and (max-width: 800px) {
    .main__contacts-wrapper-left__direct {
        font-size: 14px; }
}

.main__contacts-wrapper-middle {
    padding: 0px 120px;
}

@media screen and (max-width: 800px) {
    .main__contacts-wrapper-right {
        margin-top: 20px; }
}

.main__contacts-wrapper-right__text {
    color: #4F4F4F;
    font-size: 14px;
    line-height: 147.3%;
    margin-bottom: 6px;
}

@media screen and (max-width: 800px) {
    .main__contacts-wrapper-right__text {
        font-size: 12px;
        margin-bottom: 5px; }
}

.main__contacts-wrapper-right__direct {
    color: #000000;
    font-size: 20px;
    line-height: 147.3%;
}

@media screen and (max-width: 800px) {
    .main__contacts-wrapper-right__direct {
        font-size: 14px; }
}

/*TEAM*/

.main__team {
    text-align: center;
}

.main__team-wrapper {
    margin: 55px 10% 120px;
    display: grid;
    grid-template-columns: repeat 4, 1fr;
    grid-template-rows: repeat 2, 1fr;
    gap: 10px;
    row-gap: 60px;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
}

@media screen and (max-width: 800px) {
    .main__team-wrapper {
        margin: 30px 0px 60px;
        grid-template-columns: repeat 2, 1fr;
        grid-template-rows: repeat 3, 1fr;
        gap: 0px;
        row-gap: 30px;
    }
}

/* TEAM PERSONS*/

.pic-1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.pic-2 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.pic-3 {
    grid-column: 3/4;
    grid-row: 1/2;
}

@media screen and (max-width: 800px) {
    .pic-3 {
        grid-column: 1/2;
        grid-row: 2/3; }
}

.pic-4 {
    grid-column: 4/5;
    grid-row: 1/2;
}

@media screen and (max-width: 800px) {
    .pic-4 {
        grid-column: 2/3;
        grid-row: 2/3;
    }
}

.pic-5 {
    grid-column: 2/3;
    grid-row: 2/3;
}

@media screen and (max-width: 800px) {
    .pic-5 {
        grid-column: 1/2;
        grid-row: 3/4;
    }
}

.pic-6 {
    grid-column: 3/4;
    grid-row: 2/3;
}

@media screen and (max-width: 800px) {
    .pic-6 {
        grid-column: 2/3;
        grid-row: 3/4;
    }
}

@media screen and (max-width: 800px) {
    .main__team img {
        max-width: 80px;
    }
}
