.main__contacts-wrapper-left__text {
    color: #4F4F4F;
    font-size: 14px;
    line-height: 147.3%;
    margin-bottom: 6px;
}

@media screen and (max-width: 800px) {
    .main__contacts-wrapper-left__text {
        font-size: 12px;
        margin-bottom: 5px; }
}

.main__contacts-wrapper-left__direct {
    color: #000000;
    font-size: 20px;
    line-height: 147.3%;
}

@media screen and (max-width: 800px) {
    .main__contacts-wrapper-left__direct {
        font-size: 14px; }
}