@font-face {
    src: url("../fonts/Roboto-Regular.ttf");
    font-family: "Roboto Regular"; }

@font-face {
    src: url("../fonts/Roboto-Medium.ttf");
    font-family: "Roboto Medium"; }

@font-face {
    src: url("../fonts/Roboto-Bold.ttf");
    font-family: "Roboto Bold"; }