.header__btn {
    background-color: #FFFFFF;
    border: 1px solid rgba(27, 27, 27, 0.4);
    margin-left: 30px;
    padding: 12px 30px;
    border-radius: 6px;
    font-size: 16px;
    line-height: 19px;
    font-family: "Roboto Medium";
}

.header__btn:hover {
    background-color: #61A199;
    border: 1px solid #61a199;
    cursor: pointer;
    font-family: "Roboto Bold";
}