.reg__main {
    text-align: center;
    position: relative;
    padding-top: 23px;
}

hr {
    margin: 0px;
}

.reg__main-hr hr{
    margin-top: 90px;
}
@media screen and (max-width: 800px) {
    .reg__main-hr hr {
        margin-top: 40px;
    }
}